$def with (wishlist, form)
$var title: Wisty: $wishlist.longname

<h2>List: $wishlist.longname</h2>
<ul class="listlist">
$if wishlist.wish_set.count() == 0:
    <p class="warning">
        This list is empty
    </p>
$for wish in wishlist.wish_set:
    <li><a href="$wish.href">$wish.object_name</a></li>
</ul>

$:form.render()
